/**
  * @name Sanction
  * @author Riley
  * @version 2.0
  * @description A dark, blue and customizable theme
  * @authorId 468132563714703390
  * @source https://github.com/PhazeAU/Neptune-Discord-Theme
*/

@import url('https://devevil99.github.io/devevil/BetterDiscordAddons/Theme/Neptune/Neptune.theme.css');

:root {
  --neptune-main-bg: #1a3530;
  --neptune-main-color: #22d1b4;
  --neptune-sec-color: #84f6f8;
  --neptune-home-icon: url(https://cdn.discordapp.com/attachments/468141324906921984/934118888071909406/home-icon.jpg);
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 150deg;
  --watermark-filter-brightness: 70%;
  --watermark-filter-contrast: 200%;
  --neptune-emoji-picker-color: 180deg;
}
